



<div class="add">

  <div class="contentt">
      <div class="photoo">
          <img src="../../assets/test-photo.jpg" alt="">
      </div>
      <div class="descriptionn">
          <h2>test test</h2>
          <ul>
              <li>test</li>
              <li>test km</li>
              <li>test</li>
              <li>test horse power</li>
              <li>123123123</li>
          </ul>
      </div>
      <div class="pricee">
          <h2>100000 pln</h2>
          <form action="">
              <button class="watch-button">watch</button>
          </form>

      </div>
  </div>
</div>
