



<div class="add">

  <div class="contentt">
      <div class="photoo">
          <img src="{{car?.imageUrl}}" alt="">
      </div>
      <div class="descriptionn">
          <h2>{{car?.brand}} {{car?.model}}</h2>
          <ul>
              <li>{{car?.year}}</li>
              <li>{{car?.distance}} km</li>
              <li>{{car?.engine}}</li>
              <li>{{car?.power}} horse power</li>
              <li>{{car?.phone}}</li>
          </ul>
      </div>
      <div class="pricee">
          <h2>{{car?.price}} pln</h2>
          <form action="">
              <button class="watch-button">watch</button>
          </form>

      </div>
  </div>
</div>
