

    <header class="sticky">
      <a href="#" class="logo">Car Market</a>
      <ul>

          <li><a href="/watches">Watching</a></li>

          <li><a href="/register">Register</a></li>

          <li><a href="/login">Login</a></li>
          <li><a href="#"></a></li>
          <li><a href="/create"><button class=button>+ Start selling</button></a></li>
      </ul>
  </header>



<div class="add">

  <div class="contentt">
      <div class="photoo">
          <img src="../../assets/test-photo.jpg" alt="">
      </div>
      <div class="descriptionn">
          <h2>test test</h2>
          <ul>
              <li>test</li>
              <li>test km</li>
              <li>test</li>
              <li>test horse power</li>
              <li>123123123</li>
          </ul>
      </div>
      <div class="pricee">
          <h2>100000 pln</h2>
          <form action="">
              <button class="watch-button">watch</button>
          </form>

      </div>
  </div>
</div>
