


<section class="ads">



  <div class="ad">
      <a href="" class="text-decoration-none">
          <div class="content">
              <div class="photo">
                  <img src="../assets/test-photo.jpg" alt="">
              </div>
              <div class="description">
                  <h2>test test</h2>
                  <ul>
                      <li>test</li>
                      <li>test km</li>
                      <li>test</li>
                  </ul>
              </div>
              <div class="price">
                  <h2>100000 pln</h2>
                  <form action="" class='watch'>
                      <button class="watch-button" >watch</button>
                  </form>
              </div>
          </div>
      </a>
  </div>

  <div class="ad">
    <a href="" class="text-decoration-none">
        <div class="content">
            <div class="photo">
                <img src="../assets/test-photo.jpg" alt="">
            </div>
            <div class="description">
                <h2>test test</h2>
                <ul>
                    <li>test</li>
                    <li>test km</li>
                    <li>test</li>
                </ul>
            </div>
            <div class="price">
                <h2>100000 pln</h2>
                <form action="" class='watch'>
                    <button class="watch-button" >watch</button>
                </form>
            </div>
        </div>
    </a>
</div>

<div class="ad">
  <a href="" class="text-decoration-none">
      <div class="content">
          <div class="photo">
              <img src="../assets/test-photo.jpg" alt="">
          </div>
          <div class="description">
              <h2>test test</h2>
              <ul>
                  <li>test</li>
                  <li>test km</li>
                  <li>test</li>
              </ul>
          </div>
          <div class="price">
              <h2>100000 pln</h2>
              <form action="" class='watch'>
                  <button class="watch-button" >watch</button>
              </form>
          </div>
      </div>
  </a>
</div>

<div class="ad">
<a href="" class="text-decoration-none">
    <div class="content">
        <div class="photo">
            <img src="../../assets/test-photo.jpg" alt="">
        </div>
        <div class="description">
            <h2>test test</h2>
            <ul>
                <li>test</li>
                <li>test km</li>
                <li>test</li>
            </ul>
        </div>
        <div class="price">
            <h2>100000 pln</h2>
            <form action="" class='watch'>
                <button class="watch-button" >watch</button>
            </form>
        </div>
    </div>
</a>
</div>

<div class="ad" *ngFor="let watch of watches">
  <a href="/ad" class="text-decoration-none">
      <div class="content">
          <div class="photo">
              <img src="{{watch.car.imageUrl}}" alt="">
          </div>
          <div class="description">
              <h2>{{watch.car.brand}} {{watch.car.model}}</h2>
              <ul>
                  <li>{{watch.car.year}}</li>
                  <li>{{watch.car.distance}} km</li>
                  <li>{{watch.car.engine}}</li>
              </ul>
          </div>
          <div class="price">
              <h2>100000 pln</h2>

              <form action="">
                <button (click)="deleteWatches(watch.id)" class="remove-button">Remove</button>
            </form>

          </div>
      </div>
  </a>
</div>









</section>
