
    <header class="sticky">
      <a href="#" class="logo">Car Market</a>
      <ul>

          <li><a href="/watches">Watching</a></li>

          <li><a href="/register">Register</a></li>

          <li><a href="/login">Login</a></li>
          <li><a href="#"></a></li>
          <li><a href="/create"><button class=button>+ Start selling</button></a></li>
      </ul>
  </header>


<div class="login">
  <form class="pure-form pure-form-stacked" action="" method="POST" enctype="multipart/form-data">

          <input type="text" id="brand" name='brand' placeholder="Brand" autocomplete="off"> <br>
          <input type="text" id="model" name='model' placeholder="Model" autocomplete="off" > <br>
          <input type="number" id="distance" name='distance' placeholder="Distance" autocomplete="off" > <br>
          <input type="date" id="productionDate" name='productionDate' placeholder="Production Date" autocomplete="off"  > <br>
          <input type="text" id="engine" name='engine' placeholder="Engine" autocomplete="off" > <br>
          <input type="number" id="power" name='power' placeholder="Power" autocomplete="off" > <br>
          <input type="number" id="price" name='price' placeholder="Price" autocomplete="off" > <br>
          <input type="text" id="phone" name='phone' placeholder="Phone Number" autocomplete="off" > <br>

          <label for="image">Image</label>
          <input type="file" id="image" name='image'>
          <button type="submit" class="pure-button pure-button-primary">Create</button>
  </form>
</div>
