


    <header class="sticky">
      <a href="#" class="logo">Car Market</a>
      <ul>

          <li><a href="/watches">Watching</a></li>

          <li><a href="/register">Register</a></li>

          <li><a href="/login">Login</a></li>
          <li><a href="#"></a></li>
          <li><a href="/create"><button class=button>+ Start selling</button></a></li>
      </ul>
  </header>
  <section class="banner"></section>
  <div class="search-box">
    <form action="">
        <input type="text" class="search-text" name="query" placeholder="Search for your dream car...">
        <button><i class="fas fa-search"></i></button>
    </form>
</div>


<section class="ads">



              <div class="ad">
                  <a href="/ad" class="text-decoration-none">
                      <div class="content">
                          <div class="photo">
                              <img src="../assets/test-photo.jpg" alt="">
                          </div>
                          <div class="description">
                              <h2>test test</h2>
                              <ul>
                                  <li>test</li>
                                  <li>test km</li>
                                  <li>test</li>
                              </ul>
                          </div>
                          <div class="price">
                              <h2>100000 pln</h2>
                              <form action="" class='watch'>
                                  <button class="watch-button" >watch</button>
                              </form>
                          </div>
                      </div>
                  </a>
              </div>

              <div class="ad">
                <a href="/ad" class="text-decoration-none">
                    <div class="content">
                        <div class="photo">
                            <img src="../assets/test-photo.jpg" alt="">
                        </div>
                        <div class="description">
                            <h2>test test</h2>
                            <ul>
                                <li>test</li>
                                <li>test km</li>
                                <li>test</li>
                            </ul>
                        </div>
                        <div class="price">
                            <h2>100000 pln</h2>
                            <form action="" class='watch'>
                                <button class="watch-button" >watch</button>
                            </form>
                        </div>
                    </div>
                </a>
            </div>

            <div class="ad">
              <a href="/ad" class="text-decoration-none">
                  <div class="content">
                      <div class="photo">
                          <img src="../assets/test-photo.jpg" alt="">
                      </div>
                      <div class="description">
                          <h2>test test</h2>
                          <ul>
                              <li>test</li>
                              <li>test km</li>
                              <li>test</li>
                          </ul>
                      </div>
                      <div class="price">
                          <h2>100000 pln</h2>
                          <form action="" class='watch'>
                              <button class="watch-button" >watch</button>
                          </form>
                      </div>
                  </div>
              </a>
          </div>

          <div class="ad">
            <a href="/ad" class="text-decoration-none">
                <div class="content">
                    <div class="photo">
                        <img src="../../assets/test-photo.jpg" alt="">
                    </div>
                    <div class="description">
                        <h2>test test</h2>
                        <ul>
                            <li>test</li>
                            <li>test km</li>
                            <li>test</li>
                        </ul>
                    </div>
                    <div class="price">
                        <h2>100000 pln</h2>
                        <form action="" class='watch'>
                            <button class="watch-button" >watch</button>
                        </form>
                    </div>
                </div>
            </a>
        </div>










</section>

<script src="../assets/js/header.js"></script>

