@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f2f2f2;
  min-height: 200vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: red;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: red;
}

header ul li button {
  position: relative;
  margin: 0 15px;
  border: none;
  background-color: #1e90ff;
  color: #f2f2f2;
  padding: 9px 23px;
  cursor: pointer;
}

header ul li button:hover {
  background-color: #197cdf;
  transition: 0.6s;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../assets/bg.jpg");
  background-size: cover;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}

.search-box {
  position: relative;
  text-align: center;

  margin-top: 4em;
}

.search-box form button {
  border: 0;
  font-size: 1.5em;
  cursor: pointer;
  background-color: white;
}

.search-box form input {
  height: 3em;
  padding: 9px 23px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  width: 30em;
  border: none;
  background-color: white;

  outline: none;
}

.ads {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

.ad {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 900px;
  background-color: white;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.content {
  position: relative;

  max-height: 250px;
  display: flex;
  max-width: 900px;
}

.content .photo {
  width: 320px;
  height: 240px;
  margin: 1em;
}

.content .photo img {
  max-width: 100%;
  max-height: 100%;
}

.content .description {
  margin-top: 0.5em;
}

.content .description ul {
  list-style: none;
  margin-top: 0.5em;
}

.content .description ul li {
  font-family: Arial, Helvetica, sans-serif;
}

.content .price {
  margin-top: 0.5em;
  width: 38%;
  margin-right: 1em;
  color: red;
}

.content .price h2 {
  text-align: right;
}

.ad a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.ad a:hover {
  text-decoration: none;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
  text-align: center;
}

.login .pure-form pure-form-stacked fieldset,
#stacked-email,
#stacked-password,
#pure-button,
.pure-button {
  margin-top: 1em;
  border: none;
}

.container {
  z-index: 100000000;
  width: 900px;
  height: 900px;
  background-color: #197cdf;
}

.add {
  margin-top: 3em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 1500px;
  background-color: white;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.contentt {
  position: relative;
  max-height: 450px;
  display: flex;
  max-width: 1500px;
}

.contentt .photoo {
  width: 620px;
  height: 480px;
  margin: 1em;
}

.contentt .photoo img {
  max-width: 100%;
  max-height: 100%;
}

.contentt .descriptionn {
  margin-top: 0.5em;
}

.contentt .descriptionn ul {
  list-style: none;
  margin-top: 0.5em;
}

.contentt .descriptionn ul li {
  font-family: Arial, Helvetica, sans-serif;
}

.contentt .pricee {
  margin-top: 0.5em;
  width: 43%;
  margin-right: 1em;
  color: red;
  font-size: 1.5em;
}

.contentt .pricee h2 {
  text-align: right;
}

.add a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.emptyWatches {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unwatch-button {
  position: relative;
  margin: 0 15px;
  border: none;
  background-color: red;
  color: #f2f2f2;
  padding: 9px 23px;
  cursor: pointer;
}

.watch-button {
  position: relative;
  margin: 0 15px;
  border: none;
  background-color: #1e90ff;
  color: #f2f2f2;
  padding: 9px 23px;
  cursor: pointer;
}

.pagination-block {
  margin-bottom: 3em;
  margin-top: 3em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-error {
  margin: 2em;
  color: red;
}

.remove-button {
  position: relative;
  margin: 0 15px;
  border: none;
  background-color: red;
  color: #f2f2f2;
  padding: 9px 23px;
  cursor: pointer;
}

.warn-button {
  position: relative;
  margin: 0 15px;
  border: none;
  background-color: rgb(255, 175, 1);
  color: #f2f2f2;
  padding: 9px 23px;
  cursor: pointer;
}

.empty {
  margin-top: 14em;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.ad a {
  text-decoration: none;
}

.ad a:link {
  text-decoration: none;
}

.ad a:visited {
  text-decoration: none;
}

.ad a:hover {
  text-decoration: none;
}

.ad a:active {
  text-decoration: none;
}

.warn-button,
.watch-button,
.remove-button {
  min-width: 8em;
  margin-top: 5px;
}
