

    <header class="sticky">
      <a href="#" class="logo">Car Market</a>
      <ul>

          <li><a href="/watches">Watching</a></li>

          <li><a href="/register">Register</a></li>

          <li><a href="/login">Login</a></li>
          <li><a href="#"></a></li>
          <li><a href="/create"><button class=button>+ Start selling</button></a></li>
      </ul>
  </header>

<div class="login">
  <form class="pure-form pure-form-stacked" action="" method="GET">




          <input type="text" id="username" name='username' placeholder="Username" autocomplete="off" > <br>
          <input type="text" id="email" name='email' placeholder="Email" autocomplete="off"  > <br>
          <input type="password" id="password" name='password' placeholder="Password" /> <br>


          <button type="submit" class="pure-button pure-button-primary">Register</button>



  </form>
</div>
